.calDayDropDownArrow {
  background: url('./icon/ic_dropdown.png') no-repeat;
  background-size: contain;
  background-color: white;
  border: none;
  margin-left: 7px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 30px;
}
.dayDropDownBox {
  border-radius: 8px;
  border: solid 2px #e2e2e2 !important;
  background-color: #ffffff !important;
  width: 120px;
  height: 100%;
  text-align: center;
  justify-content: center;
  line-height: 40px;
}
/* ul */
.calDayDropDown {
  width: 100%;
  font-size: 18px;
  padding: 0;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.calDayDropDownLi {
  list-style: none;
  text-align: left;
  padding-left: 5px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.calDayDropDownLi:hover {
  background-color: antiquewhite;
}

/* 캘린더에서 드롭다운 위치 */
.dayDropDown {
  display: flex;
  justify-content: flex-end;
  position: relative;
  float: right;
  top: 28px;
  right: 140px;
  z-index: 99;
}
.clendarAll {
  margin-right: -70px;
}
