@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format('opentype');
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration-line: none !important;
  color: black !important;
  font-weight: midium;
  font-family: NotoSansKR !important;
}

.toggleBtn {
  margin: 3px;
  border-radius: 30px;
}
.toggleBtnGroup {
  top: 45px;
  left: 200px;
}

/*--------------------------------------날짜별 디자인---------------------------------------------------------------------------------------- */
.fc-day-sat {
  background-color: #fff3f3;
}
.fc-day-sun {
  background-color: #fff3f3;
}

.holiday {
  background-color: #fff3f3 !important;
  color: #ff0707;
  opacity: 1 !important;
}

/* --------------------------------------디자인 내려온 것 커스텀 CSS 입히는 중--------------------------------------------------------------- */
/* header tool bar 제목 */
.fc-toolbar-title {
  font-family: NotoSansKR !important;
  font-weight: bold;
  font-size: 36px !important;
}
.fc-col-header-cell-cushion {
  font-size: 14px;
}
/* Prev, Next 버튼 이미지 */
.fc-icon {
  width: 14px;
  height: 21px;
  flex-grow: 0;
  object-fit: contain;
  /* font-family: SFPro !important; */
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}

/* Prev, Next 버튼 */
.fc-prev-button,
.fc-next-button {
  width: 52px;
  height: 49px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 14px 19px;
  border-radius: 8px;
  border: solid 2px #e2e2e2 !important;
  background-color: #ffffff !important;
  color: #777777;
}

/* header tool bar */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  height: 120px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px 10px;
  /* border: solid 2px #e8e8e8; */
  background-color: #fff;
}

/* buttn All */
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  margin-right: 3px;
}

/* 2층 버튼 */
.fc-floor2F-button.fc-button.fc-button-primary {
  width: 160px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 1px #00c3cf;
  background-color: white;
  color: #00c3cf;
}
.fc-floor2F-button.fc-button.fc-button-primary:hover {
  background-color: rgba(0, 195, 207, 0.5);
  border: solid 1px #00c3cf;
  box-shadow: none;
}

.fc-floor2F-button.fc-button.fc-button-primary:active {
  background-color: #00c3cf !important;
  border: none !important;
  color: white;
}
.fc-floor2F-button.fc-button.fc-button-primary:focus {
  background-color: #00c3cf;
  color: white;
  box-shadow: none;
}

/* 3층 버튼 */
.fc-floor3F-button.fc-button.fc-button-primary {
  width: 160px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 1px #00c3cf;
  background-color: #fff;
  color: #00c3cf;
}
.fc-floor3F-button.fc-button.fc-button-primary:hover {
  background-color: rgba(0, 195, 207, 0.5);
  border: solid 1px #00c3cf;
  box-shadow: none;
}

.fc-floor3F-button.fc-button.fc-button-primary:active {
  background-color: #00c3cf !important;
  border: none !important;
  color: white;
}
.fc-floor3F-button.fc-button.fc-button-primary:focus {
  background-color: #00c3cf;
  color: white;
  box-shadow: none;
}
/* today 버튼 */

.fc-today-button.fc-button.fc-button-primary {
  width: 98px;
  height: 49px;
  flex-grow: 0;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* padding: 11px 32px 12px; */
  border-radius: 8px;
  border: solid 1px #00c3cf !important;
  background-color: #00c3cf !important;
  color: #ffffff;
}

/* 라벨(label, 고정시간 적혀져 있는 곳) 가로 구분선 제거 */
.fc-timegrid-slot.fc-timegrid-slot-label {
  border-top-width: 0px;
  border-right-width: 0px;

  width: 45.2px;
  height: 16.6px;
  flex-grow: 0;
  margin: 25.4px 14.7px 26.3px 0;
  font-family: NotoSansKR;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #909090;
  padding-left: 20px;
}

/* 레인(lane, 일정 드래그하는 곳) 30분 단위 점선 제거 */
.fc-timegrid-slot.fc-timegrid-slot-lane.fc-timegrid-slot-minor {
  border-top-width: 0px;
  border-left-width: 0px;
}

/* 월/주간창의 월/일/요일 padding 및 cell 선 제거 */
.fc-col-header-cell.fc-day {
  height: 52px;
  padding: 14.7px 104.5px 14.3px 101px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 2px !important;
}

/* 월/일/요일 창 왼쪽 공백 병합(cell 선 제거) */
.fc-timegrid-axis {
  border-right-width: 0px !important;
}

/* allDay 셀*/
.fc-timegrid-axis-cushion.fc-scrollgrid-shrink-cushion.fc-scrollgrid-sync-inner {
  width: 45.2px;
  height: 16.6px;
  flex-grow: 0;
  margin: 25.4px 14.7px 26.3px 0;
  font-family: NotoSansKR;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #909090;
}

/* allDay 하단의 구분선 */
.fc-timegrid-divider.fc-cell-shaded {
  border-width: 0px;
}

/* 월 주 리스트 공통 */
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
}
.fc .fc-button-primary:not(:disabled):active {
  box-shadow: none !important;
}
/* 월 버튼 */
.fc-dayGridMonth-button.fc-button.fc-button-primary {
  width: 80px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  /* border: solid 2px #ff2e63 !important; */
  /* background-color: #ff2e63 !important; */
  border: solid 2px rgb(0, 195, 207, 0.2) !important;
  background-color: rgb(0, 195, 207, 0.6) !important;
  color: white;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary:focus,
.fc-dayGridMonth-button.fc-button.fc-button-primary:hover {
  background-color: #00c3cf !important;
}

/* 주 버튼 */
.fc-timeGridWeek-button.fc-button.fc-button-primary {
  width: 80px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  /* border: solid 2px #252a34 !important; */
  /* background-color: #252a34 !important; */
  border: solid 2px rgb(0, 195, 207, 0.2) !important;
  background-color: rgb(0, 195, 207, 0.6) !important;
  color: white;
}
.fc-timeGridWeek-button.fc-button.fc-button-primary:focus,
.fc-timeGridWeek-button.fc-button.fc-button-primary:hover {
  background-color: #00c3cf !important;
}

/* 리스트 버튼 */
.fc-listWeek-button.fc-button.fc-button-primary {
  width: 80px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px rgb(0, 195, 207, 0.2) !important;
  background-color: rgb(0, 195, 207, 0.6) !important;
  color: white;
}
.fc-listWeek-button.fc-button.fc-button-primary:focus,
.fc-listWeek-button.fc-button.fc-button-primary:hover {
  background-color: #00c3cf !important;
}

/* 리스트 페이지 */

/* 리스트 타이틀 셀 */
.fc-list-event-title {
  width: 849.2px;
  height: 52px;
  margin: 0 295.4px 0 0;
  padding: 14.7px 323.2px 14.3px 320px !important;
  border-left-width: 1px !important;
}

/* 리스트 날짜셀 */
.fc-list-event-time {
  width: 480px;
  height: 52px;
  padding: 14.7px 146.6px 14.3px 144.4px !important;
  border: solid 1px #e8e8e8;
  border-right-width: 2px !important;
  text-align: center;
  border-collapse: collapse !important;
}

/* 리스트 일정색 셀 */
.fc-list-event-graphic {
  width: 295.4px;
  height: 52px;
  padding: 14.7px 140.9px 14.3px 138.5px !important;
  border-left-width: 2px !important;
  border: solid 1px #e8e8e8;
}

/* 리스트 yyyy mm dd */
.fc-direction-ltr .fc-list-day-side-text {
  float: left !important;
  padding-left: 150px;
}

/* 리스트 요일 */
.fc-list-day-text {
  float: none !important;
  display: inline !important;
  font-size: 13px;
  margin-right: 81%;
}

.fc-list-event-time {
  /* background-color: #00c3cf; */
  border-right: 1px solid rgb(0, 0, 0, 0.2) !important;
}

.fc-list-event-graphic {
  border-right: 1px solid rgb(0, 0, 0, 0.2) !important;
}

/* @media (pointer:coarse) {
  .td{
    color: red;
  }
} */
/* 선택 버튼 */
.fc-moveDate-button {
  width: 80px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px #00c3cf !important;
  background-color: #00c3cf !important;
  color: black;
  text-align: center !important;
}

/* 주말보기 버튼 */
.fc-togleWeekend-button {
  width: 90px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px #00c3cf !important;
  background-color: #00c3cf !important;
  color: black;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/* datepicker */
.react-datepicker__input-container {
  display: none !important;
}
.pickerIcon {
  background-image: url('./icon/ic_arrow.png');
  background-size: contain;
  border: none;
  width: 35px;
  height: 35px;
}

.react-datepicker__month-container {
  /* top: 100px !important; */
}

.react-datepicker {
  z-index: 99;
  top: 100px;
  left: 300px;
}

.datepickerBox {
  height: 0;
}

@media (max-width: 1462px) {
  .react-datepicker {
    top: 120px;
    left: 0px;
  }
}
@media (max-width: 1175px) {
  .react-datepicker {
    top: 120px;
    left: 60px;
  }
}
@media (max-width: 1175px) {
  .react-datepicker {
    top: 140px;
    left: 0px;
  }
}
@media (max-width: 723px) {
  .react-datepicker {
    top: 165px;
    left: 0px;
  }
}
