.calDayDropDownArrow {
  background: url('./icon/ic_dropdown.png') no-repeat;
  background-size: contain;
  background-color: white;
  border: none;
  margin-left: 7px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  top: -1px;
  left: 15px;
}
.dayDropDownBox {
  border-radius: 8px;
  border: solid 2px #e2e2e2 !important;
  background-color: #ffffff !important;
  width: 120px;
  text-align: center;
  justify-content: center;
  line-height: 52px;
}
/* ul */
.calDayDropDown {
  width: 100%;
  font-size: 18px;
  padding: 0;
  margin-bottom: 0;
  font-weight: bold;
  position: relative;
  top: 0px;
}
.calDayDropDownLi {
  list-style: none;
  text-align: left;
  padding-left: 5px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  margin-bottom: 10px;
}
.calDayDropDownLi:hover {
  background-color: antiquewhite;
}

/* 캘린더에서 드롭다운 위치 */
.dayDropDown {
  display: flex;
  justify-content: flex-end;
  position: relative;
  float: right;
  top: 28px;
  right: 140px;
  z-index: 99;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
@media (max-width: 1500px) {
  .dayDropDownBox {
    width: 100px;
    line-height: 42px;
    margin-top: 5px;
  }

  .calDayDropDown {
    font-size: 16px;
    top: 0px;
  }

  .calDayDropDownArrow {
    left: 7px;
    top: -1px;
  }
}

@media (max-width: 680px) {
  .dayDropDownBox {
    width: 50px;
    line-height: 32px;
    margin-top: 10px;
  }

  .calDayDropDown {
    font-size: 12px;
  }

  .calDayDropDownArrow {
    left: 1px;
    top: 1px;
  }
}

@media (max-width: 534px) {
  .dayDropDownBox {
    position: relative;
    left: 20px;
  }
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
