@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format('opentype');
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration-line: none !important;
  color: black !important;
  font-weight: midium;
  font-family: NotoSansKR !important;
}

.toggleBtn {
  margin: 3px;
  border-radius: 30px;
}
.toggleBtnGroup {
  top: 45px;
  left: 200px;
}

.clendarAll {
  margin-right: -120px;
  margin-bottom: 10px;
}
/*--------------------------------------날짜별 디자인---------------------------------------------------------------------------------------- */
.fc-day-sat {
  background-color: rgba(0, 120, 207, 0.02);
}
.fc-day-sun {
  background-color: rgba(207, 0, 0, 0.02);
}

.holiday {
  background-color: #fca8a81a !important;
  color: #cf0000;
  opacity: 1 !important;
  pointer-events: none;
  font-style: normal !important;
}

/* --------------------------------------디자인 내려온 것 커스텀 CSS 입히는 중--------------------------------------------------------------- */
/* header tool bar 제목 */
.fc-toolbar-title {
  font-family: NotoSansKR !important;
  font-weight: bold;
  font-size: 36px !important;
}
.fc-col-header-cell-cushion {
  font-size: 14px;
  white-space: nowrap;
}
/* Prev, Next 버튼 이미지 */
.fc-icon {
  width: 14px;
  height: 21px;
  flex-grow: 0;
  object-fit: contain;
  /* font-family: SFPro !important; */
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #777;
}

/* Prev, Next 버튼 */
.fc-prev-button,
.fc-next-button {
  width: 52px;
  height: 49px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 14px 19px;
  border-radius: 8px;
  border: solid 2px #e2e2e2 !important;
  background-color: #ffffff !important;
  color: #777777;
}

/* header tool bar */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  height: 150px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px 10px;
  /* border: solid 2px #e8e8e8; */
  background-color: #fff;
}

.fc-col-header {
  border-top: 1px solid !important;
}
.fc-day-future {
}
.fc-cell-shaded {
  border-top: 3px solid #ddd;
}
/* buttn All */
.fc-button-group {
  margin-right: 130px;
}

.fc-button-active {
  background-color: #00c3cf !important;
  border: solid 1px #00c3cf !important;
}

.fc-floor2F-button:active,
.fc-floor3F-button:active {
  background-color: #00c3cf !important;
  border: solid 1px #00c3cf !important;
}

/* 2층 버튼 */
.fc-floor2F-button.fc-button.fc-button-primary {
  width: 160px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px #00c3cf;
  background-color: white;
  color: #00c3cf;
}
.fc-floor2F-button.fc-button.fc-button-primary:hover {
  background-color: rgba(0, 195, 207, 0.5);
  border: solid 1px #00c3cf;
  box-shadow: none;
}

/* 3층 버튼 */
.fc-floor3F-button.fc-button.fc-button-primary {
  width: 160px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px #00c3cf;
  background-color: #fff;
  color: #00c3cf;
}
.fc-floor3F-button.fc-button.fc-button-primary:hover {
  background-color: rgba(0, 195, 207, 0.5);
  border: solid 1px #00c3cf;
  box-shadow: none;
}

/* 주말보기 버튼 */
.fc-togleWeekend-button {
  width: 84px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px #00c3cf !important;
  background-color: white !important;
  color: #00c3cf !important;
}
.fc-togleWeekend-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #00c3cf !important;
  color: white !important;
}
.fc .fc-button-primary:focus {
  box-shadow: none !important;
}

/* today 버튼 */
.fc-today-button.fc-button.fc-button-primary {
  width: 98px;
  height: 49px;
  flex-grow: 0;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* padding: 11px 32px 12px; */
  border-radius: 8px;
  border: solid 2px #e2e2e2 !important;
  background-color: #e2e2e2 !important;
  color: #777777 !important;
}

.fc-today-button.fc-button.fc-button-primary:disabled {
  background-color: white !important;
  opacity: 1 !important;
}

/* .fc-list-event-dot {
  border-color: #cf0000 !important;
} */

/* 라벨(label, 고정시간 적혀져 있는 곳) 가로 구분선 제거 */
.fc-timegrid-slot.fc-timegrid-slot-label {
  border-top-width: 0px;
  border-right-width: 0px;

  width: 45.2px;
  height: 16.6px;
  flex-grow: 0;
  margin: 25.4px 14.7px 26.3px 0;
  font-family: NotoSansKR;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #909090;
  padding-left: 20px;
}

/* 레인(lane, 일정 드래그하는 곳) 30분 단위 점선 제거 */
.fc-timegrid-slot.fc-timegrid-slot-lane.fc-timegrid-slot-minor {
  border-top-width: 0px;
  border-left-width: 0px;
}

/* 월/주간창의 월/일/요일 padding 및 cell 선 제거 */
.fc-col-header-cell.fc-day {
  height: 52px;
  padding: 14.7px 104.5px 14.3px 101px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 2px !important;
}

/* 월/일/요일 창 왼쪽 공백 병합(cell 선 제거) */
.fc-timegrid-axis {
  border-right-width: 0px !important;
}

/* allDay 셀*/
.fc-timegrid-axis-cushion.fc-scrollgrid-shrink-cushion.fc-scrollgrid-sync-inner {
  width: 45.2px;
  height: 16.6px;
  flex-grow: 0;
  margin: 25.4px 14.7px 26.3px 0;
  font-family: NotoSansKR;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #909090;
}

/* allDay 하단의 구분선 */
.fc-timegrid-divider.fc-cell-shaded {
  border-width: 0px;
}

/* 월 주 리스트 공통 */
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
}
.fc .fc-button-primary:not(:disabled):active {
  box-shadow: none !important;
}

/* 월 버튼 */
.fc-dayGridMonth-button.fc-button.fc-button-primary {
  width: 80px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px rgb(0, 195, 207, 0.2) !important;
  background-color: rgb(0, 195, 207, 0.6) !important;
  color: white;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary:focus,
.fc-dayGridMonth-button.fc-button.fc-button-primary:hover {
  background-color: #00c3cf !important;
}

/* 주 버튼 */
.fc-timeGridWeek-button.fc-button.fc-button-primary {
  width: 80px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  /* border: solid 2px #252a34 !important; */
  /* background-color: #252a34 !important; */
  border: solid 2px rgb(0, 195, 207, 0.2) !important;
  background-color: rgb(0, 195, 207, 0.6) !important;
  color: white;
}
.fc-timeGridWeek-button.fc-button.fc-button-primary:focus,
.fc-timeGridWeek-button.fc-button.fc-button-primary:hover {
  background-color: #00c3cf !important;
}

/* 리스트 버튼 */
.fc-listWeek-button.fc-button.fc-button-primary {
  width: 80px;
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border: solid 2px rgb(0, 195, 207, 0.2) !important;
  background-color: rgb(0, 195, 207, 0.6) !important;
  color: white;
}
.fc-listWeek-button.fc-button.fc-button-primary:focus,
.fc-listWeek-button.fc-button.fc-button-primary:hover {
  background-color: #00c3cf !important;
}

/* 리스트 페이지 */

/* 리스트 타이틀 셀 */
.fc-list-event-title {
  /* width: 849.2px; */
  /* height: 52px; */
  /* margin: 0 295.4px 0 0; */
  /* padding: 14.7px 323.2px 14.3px 100px !important; */
  /* border-left-width: 1px !important; */
  /* text-align: center; */
}

/* 리스트 날짜셀 */
.fc-list-event-time {
  /* width: 30%; */
  /* height: 20%; */
  /* padding-right: 10%; */
  /* border: solid 1px #e8e8e8;
  border-left-width: 2px !important;
  text-align: center;
  border-collapse: collapse !important; */
}

/* 리스트 일정색 셀 */
.fc-list-event-graphic {
  /* width: 295.4px;
  height: 52px;
  padding: 14.7px 140.9px 14.3px 138.5px !important;
  border-left-width: 2px !important;
  border: solid 1px #e8e8e8;
  text-align: center; */
}
/* .fc-list-day-side-text::after {
  content: '제목' !important;
  position: relative;
  left: 130%;
} */
/* 리스트 yyyy mm dd */
.fc-direction-ltr .fc-list-day-side-text {
  float: left !important;
  /* margin-left: 9%; */
}
.fc-list-day-side-text {
}

/* 리스트 요일 */
.fc-list-day-text {
  display: none;
}
.fc-list-day-text-added {
  display: contents;
}

.fc-list-event-time {
  /* background-color: #00c3cf; */
  border-right: 1px solid rgb(0, 0, 0, 0.2) !important;
}

.fc-list-event-graphic {
  /* border-right: 1px solid rgb(0, 0, 0, 0.2) !important; */
}

/* 선택 버튼 */
.fc-toolbar-chunk {
  display: flex;
}
.fc-moveDate-button {
  background-color: white !important;
  background-image: url('./icon/ic_arrow.png') !important;
  background-size: contain !important;
  border: none !important;
  width: 30px !important;
  height: 30px !important;
}
.fc-moveDate-button fc-button fc-button-primary {
  z-index: 10;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: -10px !important;
  margin-top: -30px;
  border-bottom-width: 10px !important;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/* datepicker */
.react-datepicker__input-container {
  display: none !important;
}
.pickerIcon {
  background-image: url('./icon/ic_arrow.png');
  background-size: contain;
  border: none;
  width: 35px;
  height: 35px;
}

.react-datepicker__month-container {
  /* top: 100px !important; */
}

.react-datepicker {
  z-index: 99;
  top: 100px;
  left: 300px;
}

.datepickerBox {
  height: 0;
}

@media (max-width: 1500px) {
  .react-datepicker {
    top: 95px;
    left: 250px;
  }
}
@media (max-width: 1143px) {
  .react-datepicker {
    top: 120px !important;
    left: 10px !important;
  }
}
@media (max-width: 678px) {
  .react-datepicker {
    top: 110px !important;
    left: 20px !important;
  }
}

@media (max-width: 1500px) {
  /* 공통부분(HeaderToolBar) Start*/
  .fc-floor3F-button.fc-button.fc-button-primary,
  .fc-floor2F-button.fc-button.fc-button-primary {
    /* 2층 3층 버튼 */
    width: 100px !important;
    height: 40px !important;
  }

  .fc-moveDate-button,
  .fc-dayGridMonth-button.fc-button.fc-button-primary,
  .fc-timeGridWeek-button.fc-button.fc-button-primary,
  .fc-listWeek-button.fc-button.fc-button-primary {
    /* 선택, 월/주/리스트 버튼 */
    width: 60px;
    height: 40px;
    font: 10px;
  }

  .fc-prev-button,
  .fc-next-button {
    /* prev, next 버튼 */
    width: 45px;
    height: 40px;
  }

  .fc-togleWeekend-button {
    /* 주말보기 버튼 */
    width: 84px;
    height: 40px;
  }

  .fc-toolbar-title {
    /* headtollbar 타이틀 텍스트 */
    font-size: 26px !important;
  }

  .fc-today-button.fc-button.fc-button-primary {
    /* today 버튼 */
    width: 80px;
    height: 40px;
  }
  /* 공통부분(HeaderToolBar) End */
}

@media (max-width: 680px) {
  /* 공통부분(HeaderToolBar) Start */
  .fc-floor3F-button.fc-button.fc-button-primary,
  .fc-floor2F-button.fc-button.fc-button-primary {
    /* 2층 3층 버튼 */
    width: 70px !important;
    height: 30px !important;
    font-size: 12px;
  }

  .fc-moveDate-button,
  .fc-dayGridMonth-button.fc-button.fc-button-primary,
  .fc-timeGridWeek-button.fc-button.fc-button-primary,
  .fc-listWeek-button.fc-button.fc-button-primary {
    /* 선택, 월/주/리스트 버튼 */
    width: 50px;
    height: 30px;
    font-size: 11px !important;
  }

  .fc-prev-button,
  .fc-next-button {
    /* prev, next 버튼 */
    width: 35px;
    height: 30px;
    gap: 1px;
  }

  .fc-togleWeekend-button {
    /* 주말보기 버튼 */
    width: 59px;
    height: 30px;
    font-size: 11px !important;
  }

  .fc-toolbar-title {
    /* headtollbar 타이틀 텍스트 */
    font-size: 13px !important;
  }

  .fc-today-button.fc-button.fc-button-primary {
    /* today 버튼 */
    width: 60px;
    height: 30px;
    font-size: 12px;
  }

  .fc-icon {
    /* prev, next 버튼 아이콘 */
    width: 1px !important;
    height: 30px !important;
    font-size: 15px !important;
  }

  .fc-moveDate-button {
    /* 선택 버튼 (폰트 사이즈 개별 조절) */
    font-size: 12px !important;
  }
  /* 공통부분(HeaderToolBar) End */
  .fc-col-header-cell-cushion {
    font-size: 6px !important;
  }
}

@media (max-width: 1360px) {
  .fc-col-header-cell.fc-day {
    height: 52px;
    padding: 10px 20px 10px 14px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
}

.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #00c3cf !important;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #00c3cf !important;
}

.fc-listWeek-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #00c3cf !important;
}

.fc-list-added-text-1,
.fc-list-added-text-2 {
  text-align: center;
  border-right: 1px solid rgb(0, 0, 0, 0.2) !important;
  border-left: 1px solid rgb(0, 0, 0, 0.2) !important;
}

.fc-col-header-cell.fc-day.fc-day-sat {
  /* 토요일 header셀 backgorund color 변경 */
  background-color: #ffffff;
}

.fc-col-header-cell.fc-day.fc-day-sun {
  /* 일요일 header셀 backgorund color 변경 */
  background-color: #ffffff;
}

.fc-col-header-cell.fc-day.fc-day-sat
  > .fc-scrollgrid-sync-inner
  > .fc-col-header-cell-cushion {
  color: #0078cf !important;
}

.fc-col-header-cell.fc-day.fc-day-sun
  > .fc-scrollgrid-sync-inner
  > .fc-col-header-cell-cushion {
  color: #cf0000 !important;
}

.fc-daygrid-day.fc-day.fc-day-sat
  > .fc-daygrid-day-frame.fc-scrollgrid-sync-inner
  > .fc-daygrid-day-top
  > .fc-daygrid-day-number {
  color: #0078cf !important;
}

.fc-daygrid-day.fc-day.fc-day-sun
  > .fc-daygrid-day-frame.fc-scrollgrid-sync-inner
  > .fc-daygrid-day-top
  > .fc-daygrid-day-number {
  color: #cf0000 !important;
}

/* .fc-timegrid-event-harness.fc-timegrid-event-harness-inset > .fc-timegrid-event .fc-v-event .fc-event .fc-event-draggable .fc-event-resizable .fc-event-start .fc-event-end{

} */

.fc-col-header-cell .fc-day .fc-day-mon .fc-day-past {
  border-top-width: 0px !important;
}

/* 도트 컬러 리스트 */

.fc-dot-color-기본 > .fc-list-event-graphic > span,
.fc-dot-color-선택 > .fc-list-event-graphic > span {
  border-color: #3788d8 !important;
}

.fc-dot-color-빨강 > .fc-list-event-graphic > span {
  border-color: #e92c2c !important;
}

.fc-dot-color-노랑 > .fc-list-event-graphic > span {
  border-color: #ff9f2d !important;
}

.fc-dot-color-초록 > .fc-list-event-graphic > span {
  border-color: #00ba34 !important;
}

.fc-dot-color-블랙 > .fc-list-event-graphic > span {
  border-color: #585757 !important;
}

/* 도트 컬러 월별 */

.fc-dot-color-기본 > .fc-daygrid-event-dot,
.fc-dot-color-선택 > .fc-daygrid-event-dot {
  border-color: #3788d8 !important;
}

.fc-dot-color-빨강 > .fc-daygrid-event-dot {
  border-color: #e92c2c !important;
}

.fc-dot-color-노랑 > .fc-daygrid-event-dot {
  border-color: #ff9f2d !important;
}

.fc-dot-color-초록 > .fc-daygrid-event-dot {
  border-color: #00ba34 !important;
}

.fc-dot-color-블랙 > .fc-daygrid-event-dot {
  border-color: #585757 !important;
}

.floor-input-active {
  background-color: #00ba34;
}

.fc-list-event-time {
  padding-right: 90px !important;
}

/* 새로추가하는것들 5.30 */
.fc-timegrid-axis {
  border-top: 2px solid #ddd !important;
}
