a {
  text-decoration-line: none !important;
  color: black !important;
  font-weight: bold;
}

.modalStyle {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.info_form {
  background-color: white;
}
/* .formSelectColor {
  text-align: center;
  height: 30px;
  width: 18%;
} */
.info_head_text {
  height: 30px;
  width: 77%;
}
.formSelectColor {
}

.formbutton {
  float: right;
  padding-bottom: 0px;
}

.formbutton > Button {
  margin: 3px;
}
