a {
  text-decoration-line: none !important;
  color: black !important;
  font-weight: bold;
}

.fc-non-business {
  display: none;
}

.toggleBtn {
  margin: 3px;
  border-radius: 30px;
}
.toggleBtnGroup {
  top: 45px;
  left: 200px;
}
.fc--button fc-button fc-button-primary {
  display: none !important;
  background-color: aqua !important;
}
.modalStyle {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.45);
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.info_form {
  background-color: white;
}
/* .formSelectColor {
  text-align: center;
  height: 30px;
  width: 18%;
} */
.info_head_text {
  height: 30px;
  width: 77%;
}
.modify_info_head_text {
  height: 30px;
  width: 77%;
}
.modify_info_body_text {
  display: inline;
  text-align: center;
  margin-right: 8.2%;
  padding-left: 16px;
}
.formSelectColor {
}

.formbutton {
  float: right;
  padding-bottom: 0px;
}

.formbutton > Button {
  margin: 3px;
}
