/* .formSelectColor {
  text-align: center;
  height: 30px;
  width: 18%;
} */
/* form 공용 */
.info_form {
  background-color: white;
}
.formSelect {
  height: 35px;
  width: 20%;
}
.modinfo_partic {
  height: 30px;
  width: 77%;
}

.formbutton {
  float: right;
  padding-bottom: 0px;
}

.formbutton > Button {
  margin: 3px;
}

/* select */
.Sel_input_Box {
  display: flex;
}
.selectul {
  width: 100%;
  height: 39px;
  padding: 0;
  text-align: center;
  line-height: 2.3;
  border: 1px solid black;
}

.selectli {
  list-style: none;
  text-align: left;
  padding-left: 5px;
  border: 1px solid black;
  background-color: white;
}
.selectli::after {
}

.selectBox {
  width: 25%;
  height: 45px;
  z-index: 99;
}

/* inputinfo */

.input_head_text {
  height: 41px;
  width: 100%;
  margin-left: 2%;
}
.inputBox {
  width: 77.3%;
}

/* 참여자 */
.inputinfo_body {
  display: flex;
  width: 100%;
}

.input_body_text {
  width: 25%;
  font-size: 20px;
  text-align: center;
}
.inputBox2 {
  width: 77.3%;
}

.input_partic {
  height: 41px;
  width: 100%;
  margin-left: 2%;
}

.formPassword {
  display: inline-block;
}
/* modify */
.modifyhead {
  display: flex;
}
.modify_info_head_text {
  width: 25%;
  font-size: 20px;
  text-align: center;
}
.modify_info_body_text {
  height: 30px;
  width: 77%;
}

.info_body {
  display: flex;
}
.info_body_text {
  width: 25%;
  font-size: 20px;
  text-align: center;
}

.formPassword2 {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}
/* ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
} */
