* {
  margin: 0;
  padding: 0;
}
/* .formSelectColor {
  text-align: center;
  height: 30px;
  width: 18%;
} */
/* form 공용 */
.validation-form {
  width: 100%;
  height: 100%;
}
.info_form {
  background-color: white;
  /* width: 100%;
  height: 100% !important; */
}
/* 임의의 영역 생성 */

.formbutton > Button {
  margin: 3px;
}

.formHead {
  width: 111px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #000;
}
.formHeadHr {
  margin-top: 5px;
}
/* 아이콘 */
.modalIcon {
  margin-right: 2%;
}
.titleIcon {
  background: url('./icon/ic_title.png') no-repeat;
  background-size: contain;
  border: none;
  padding: 15px;
  position: relative;
  top: 2px;
}
.calenadrIcon {
  background: url('./icon/ic_calenadr.png') no-repeat;
  background-size: contain;
  border: none;
  padding: 15px;
  position: relative;
  top: 2px;
}
.particIcon {
  background: url('./icon/ic_user.png') no-repeat;
  background-size: contain;
  border: none;
  padding: 15px;
  position: relative;
  top: 8px;
}
.contentIcon {
  background: url('./icon/ic_text.png') no-repeat;
  background-size: contain;
  border: none;
  padding: 15px;
}
.locationIcon {
  background: url('./icon/ic_location.png') no-repeat;
  background-size: contain;
  border: none;
  padding: 15px;
}
.lockIcon {
  background: url('./icon/ic_lock.png') no-repeat;
  background-size: contain;
  border: none;
  padding: 15px;
}
.formClose {
  background: url('./icon/ic_close.png') no-repeat;
  background-size: contain;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  float: right;
}
/* select */
.Sel_input_Box {
  display: flex;
  cursor: pointer;
}
.selectArrow {
  background: url('./icon/ic_arrow.png') no-repeat;
  background-size: contain;
  background-color: white;
  border: none;
  margin-left: 7px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.selectul {
  width: 100%;
  height: 39px;
  padding: 0;
  text-align: center;
  line-height: 2.3;
  border: none;
  z-index: 99;
}
.liBox {
  /* display: none; */
}
.selectli {
  list-style: none;
  text-align: left;
  padding-left: 5px;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.selectli:nth-child(3):hover {
  background-color: rgb(126, 175, 223);
}
.selectli:nth-child(4):hover {
  background-color: rgba(190, 197, 203);
}
.selectli:nth-child(5):hover {
  background-color: rgba(246, 216, 216);
}
.selectli:nth-child(6):hover {
  background-color: rgba(208, 212, 178);
}
.selectli:nth-child(7):hover {
  background-color: rgba(179, 211, 211);
}
.selectli:nth-child(8):hover {
  background-color: rgba(243, 227, 173);
}

.selectBox {
  width: 35%;
  height: 45px;
  z-index: 99;
}

/* inputinfo */

.input_head_text {
  height: 41px;
  width: 100%;

  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;
}
.inputBox {
  width: 100%;
}

/* 참여자 */
.inputinfo_body {
  display: flex;
  width: 100%;
}

.input_body_text {
  width: 25%;
  font-size: 20px;
  text-align: center;
}

.input_partic {
  height: 41px;
  width: 100%;
  margin-top: 1%;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;
}
/* 회의내용 */
.contentBox {
  display: flex;
}
.info_content {
  width: 100%;
  height: 150px;

  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;

  resize: none;
}

/* 날짜 */
.formDateBox {
  display: flex;
  margin-top: 20px;
  /* padding-left: 15px; */
  /* justify-content: space-between; */
  /* background-color: aqua; */
}
.formDate {
  flex-grow: 1;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;

  /* width: 20%; */
}

.formDate1 {
  margin-right: 10px;
  width: 25%;
}
.formDate2 {
  width: 100px;
}
.formDate3 {
  width: 100px;
}
.dateText {
  font-size: 30px;
}
/* modify */
.modify_formDate {
  display: flex;
  margin-top: 15px;
  margin-bottom: -25px;
}
.modify_formbutton {
  float: right;
  margin-top: -15px;
}
.input_body_text {
  width: 25%;
  font-size: 20px;
  text-align: center;
}
.inputBox2 {
  width: 100%;
}
.modify_formbutton > button {
  margin: 1px;
}
.modifyhead {
  display: flex;
}

.modify_info_body_text {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;
}

.info_body {
  display: flex;
  width: 100%;
}
/* .info_body_text {
  width: 25%;
  font-size: 20px;
  text-align: center;
} */
.modinfo_partic {
  height: 41px;
  width: 100%;
  margin-top: 1%;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;
}
.modinfo_partic,
.modinfo_partic2 {
  height: 41px;
  width: 100%;
  margin-top: 1%;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;
}
.info_content {
  width: 100%;
  height: 150px;

  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;

  resize: none;
}

/* 비번, 저장 */
.passwordBox {
  display: flex;
}
.pwBox {
  width: 100%;
}
.passwordInput {
  position: relative;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  padding-left: 15px;
}
.psfeed {
  width: 100%;
}
.formbutton {
  width: 100%;
}
.saveButton {
  margin-top: 20px !important;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  /* background-color: #00c3cf !important; */
  background-color: rgba(0, 195, 207, 0.4);
  color: white;
  border: none;
}
.saveButton:hover {
  background-color: rgba(0, 195, 207, 0.6);
  border: solid 2px #00c3cf;
  border: none;
}
.saveButton:active {
  background-color: rgba(0, 195, 207);
  border: none;
}

.floorBox {
  display: flex;
  margin-top: 10px;
  margin-bottom: -35px;
  width: 100%;
}
.floorBox_input {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.floorInputPlace::placeholder {
  color: black;
}
.floorInput1,
.floorInput2 {
  font-weight: bold;
  text-align: center;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #00c3cf;
  width: 49%;
}
